@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');
/*  *{
    margin: 0px;
    padding: 0px;
}  */
html ,body {
    background-color: purple;
    font-family: Roboto;
}
.welcome-card{
    background-color: #fff;
    border-radius: 25px;
    padding: 10px 15px 10px 20px;
    margin: 20px;
}
.welcome h2{
    font-size: 20px;
}
.welcome p{
    margin-top: 10px;
    color: rgba(125, 125, 125, .8);
}.welcome .btn{
    margin-top: 10px;
    background-color: rgba(220, 0, 0, 1);
    padding: 2.5px 5px 2.5px 5px;
    border: none;
    color: #fff;
   border-radius: 5px;
} 
#ifelse{
    color: blueviolet;
}

/* SASS if-else conditions   */     /*  First example  */

$text-limit: 4;

#ifelse{
    @if $text-limit <= 4{
        color: red;
    }
    @else if $text-limit > 4 and $text-limit <= 8{
        color: blue;
    }
    @else {
        color: green;
    }
}         

              /* Second example */
@mixin avatar ($size, $circle: false){
    width: $size;
    height: $size;
    @if $circle {
        border-radius: math.div($size, 2);
    }
}

.square-av{
    @include avatar(100px);
}

.circle-av{
    @include avatar(100px, $circle: true);
}


/*  For loop   */

$i: 1,2,3,4,5,6;                 // variables declaration

@for $i from 1 to 6 {

    h#{$i}{
        font-size: 25px;
        color: rgb(random(255), random(255), random(255));
    }
}

/*
@for $i from 1 through 6 {

        h#{$i}{
            font-size: 15px * $i;
            color: rgb(random(255), random(255), random(255));
        }
    } */