@mixin btn($color){
    margin-top: 10px;
    background-color: purple;
    padding: 2.5px 5px 2.5px 5px;
    border: none;
    color: $color;
    border-radius: 5px;
  }
  
  /*
        if required you can give value to the $color variable.
  SYNTAX:   @mixin [name] ($color: value;)          
        it will take that value as default value.
  */