@use './buttons';

.btn{
    @include buttons.btn(#000);

    &-dark{
        @include buttons.btn(#000);
        background-color: darkblue;
    }
    &-none{
    @include buttons.btn(white);
    background-color: yellow;
    }

    &-success{
    @include buttons.btn(white);
    background-color: green;
    }

    &-failure{
    @include buttons.btn(white);
    background-color: red;
    }
}






@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: white;
}

.header{
    display:flex;
    justify-content: space-between;
    padding: 40px;
}
.header__menu{
    display: flex;
    list-style-type: none;
}
.header__list{
    margin-right: 20px;
    font-size: 18px;
}
.header .active > a{
    background-color: purple;
    font-weight: 700;
    padding: 10px 15px;
}


/*end navigation*/
  
html ,body {
    background-color: purple;
    font-family: Roboto;
}
.welcome{
    background-color: #fff;
    border-radius: 25px;
    padding: 10px 15px 10px 20px;
    margin: 20px;
}
.welcome h2{
    font-size: 20px;
}
.welcome p{
    margin-top: 10px;
    color: rgba(125, 125, 125, .8);
}